

/* nav section  */

@media screen and (max-width: 576px) {
    
      header{
        max-width: 100%;
        text-align: center;
        box-shadow: none;
      }
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
       }
        nav ul{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        nav li{
          margin-right: 0px;
        }
        .nav-menu{
          margin-bottom: 60px;
        }
        .nav-icon span{
          margin-left: 10px;
        }
        .nav-logo{
          margin-bottom: 40px;
        }

        /* banner section  */

        .banner-section{
          width: 100%;
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column-reverse;
          margin-top: 100px;
          margin: 0 auto;
        }
        .banner-img img{
          width: 100%;
          
        }
        .banner-text{
          padding: 30px;
          border-radius: 6px;
          margin-left: 0px;
          margin-top: 80px;
          background:  linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);;
        }

        /* gamer-section  */

        .gammer-section{
          padding: 30px;
          display: flex;
          flex-direction: column;
          margin-top: 170px;
        }
        .gammer-img img{
          width: 100%;
        }
        .gammer-text{
          margin-top: 50px;
          width: 100%;
          text-align: center;
        }
        .gammer-text span{
          font-size: 1.2rem;
          margin-top: 10px;
        }
        .gammer-text strong{
          margin-top: 20px;
        }

        /* online game section  */

        .online-game-section{
          padding: 30px;
          width: 100%;
          margin: 0 auto;
          margin-top: 80px;
          
        }
        .img-container{
          display: grid;
          grid-template-columns: repeat(1);
          justify-content: center;
          gap: 100px;
          margin-top: 60px;
        }
         

        /* install section  */

        .install-section{
          padding: 30px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .install-text{
          width: 300px;
          text-align: center;
          margin-left: 0px;

        }
        .install-text h1{
          font-size: 2.7rem;
          text-align: center;
        }
        .install-text p{
          text-align: center;
        }
        .install-img img{
          width: 330px;
          position: relative;
        }
        .small-img img{
          width: 150px;
          position: absolute;
          left: -30px;
          bottom: -60px;
        }

        /* play section  */
        
        .play-section{
          padding: 30px;
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
        }
        .play-img img{
          margin-top: 40px;
           width: 330px;
          position: relative;
        }
        .play-small-img img{
          width: 150px;
          position: absolute;
          right: -30px;
          bottom: -60px;
        }
        .play-text{
          width: 100%;
          text-align: center;
          margin-right: 0px;
        }
        .play-text p{
          text-align: center;
        }

        /* careers section  */

        .careers-section{
          padding: 25px;
          width: 100%;
          height: 120vh;
          border-radius: 8px;
        }
        .careers-content{
          display: flex;
          flex-direction: column;
        }
        .careers-text{
          margin-left: 0;
          width: 300px;
        }

        .careers-img img{
          margin-top: 40px;
          width: 100%;
          text-align: center;
        }

        /* game item section  */

        .game-item-section{
          width: 100%;
          padding: 20px;
        }
        .main-item{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
        .game-item img{
          width: 30px;
        }
        .game-item p{
          font-size: 10px;
        }

        /* footer-section  */

        footer{
          width: 100%;
          height: 80vh;
          padding: 30px;
          border-radius: 8px;
        }
 
        .game-history p{
          font-size: 13px;
        }
        .game-history{
           
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
           gap: 20px;
       }

        .footer-icon{
          display: grid;
          grid-template-columns: repeat(3,70px);
          justify-content: center;
          gap: 20px;
          margin-bottom: 30px;
        }
        .footer-last-text{
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          text-align: center;
        }
        .footer-privacy{
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: center;
          margin-top: 20px;
        }
        .footer-privacy p{
          text-align: center;
          font-size: 1rem;
        }
  }

  /* ALL CLEAR  */